<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en" ng-app="root"> <!--<![endif]-->
<head>
    <title>Ishan Khanna | Android & Web Developer </title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Personal website of Ishan Khanna, showcasing his portfolio,
    skills, work experience and lot more.">
    <meta name="author" content="Ishan Khanna">    
    <link rel="shortcut icon" href="favicon.ico">  
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <!-- Global CSS -->
    <link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css">
     <!-- Plugins CSS -->
    <link rel="stylesheet" href="assets/plugins/font-awesome/css/font-awesome.css">
    <!-- github acitivity css -->
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/octicons/2.0.2/octicons.min.css">
    <link rel="stylesheet" href="http://caseyscarborough.github.io/github-activity/github-activity-0.1.0.min.css">
    
    <!-- Theme CSS -->  
    <link id="theme-style" rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="assets/css/animate.css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


</head> 

<body>

    <!-- ******HEADER****** --> 
    <header class="header">
        <div class="container">                       
            <img class="profile-image img-responsive pull-left img-circle" height="200" width="200" src="http://gravatar.com/avatar/7c4330c014bc4f658c08456172915d69/?s=200" alt="Ishan Khanna" />
            <div class="profile-content pull-left">
                <h1 class="name">Ishan Khanna</h1>
                <h2 class="desc">Web & Android Developer</h2>   
                <ul class="social list-inline">
                    <li><a href="https://twitter.com/ishan1604"><i class="fa fa-twitter"></i></a></li>                   
                    <li><a href="https://google.com/+IshanKhanna12"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="https://in.linkedin.com/in/ishankhanna"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="https://github.com/ishan1604"><i class="fa fa-github-alt"></i></a></li>                  
                    <li class="last-item"><a href="https://www.facebook.com/ishankhanna1213"><i class="fa fa-facebook"></i></a></li>                 
                </ul> 
            </div><!--//profile-->
            <a class="btn btn-cta-primary pull-right" href="http://themes.3rdwavemedia.com/" target="_blank"><i class="fa fa-paper-plane"></i> Contact Me</a>              
        </div><!--//container-->
    </header><!--//header-->
    
    <div class="container sections-wrapper">
        <div class="row">
            <div class="primary col-md-8 col-sm-12 col-xs-12">
                <section class="projects section wow slideInLeft">
                    <div class="section-inner">
                        <h2 class="heading">My Projects</h2>
                        <div class="content" data-ng-controller="projectsCtrl">
                            <div class="item" data-ng-repeat="project in projects | orderBy: '-id'">
                                <h3 class="title"><a href="#">{{ project.title }}</a> <span class="label label-theme" data-ng-show="project.isOpenSource">Open Source</span></h3>
                                <p class="summary">{{ project.summary }}</p>
                            </div><!--//item-->
                        </div><!--//content-->
                    </div><!--//section-inner-->                 
                </section><!--//section-->
                
                <section class="experience section wow slideInLeft">
                    <div class="section-inner">
                        <h2 class="heading">Work Experience</h2>
                        <div class="content" data-ng-controller="experiencesCtrl">

                            <div class="item" data-ng-repeat="experience in experiences">
                                <h3 class="title">{{ experience.position }} - <span class="place"><a href="{{experience.organisationUrl}}">{{experience.organisation}}</a></span> <span class="year">({{ experience.from }} - {{experience.isCurrent ? 'Present' : experience.to}})</span></h3>
                                <p>{{ experience.summary }}
                                <ul data-ng-repeat="description in experience.descriptions">
                                    <li>{{description}}</li>
                                </ul>
                                </p>
                            </div><!--//item-->
                        </div><!--//content-->
                    </div><!--//section-inner-->                 
                </section><!--//section-->
                <section class="github section wow slideInLeft">
                    <div class="section-inner">
                        <h2 class="heading">My GitHub</h2>
                        <p><a href="#"><img class="img-responsive" src="http://i.imgur.com/vjf7D4m.png" alt="GitHub Contributions Chart" /></a></p>
                        <!--//Usage: http://caseyscarborough.com/projects/github-activity/ -->                       
                        <div id="ghfeed" class="ghfeed">
                        </div><!--//ghfeed-->
                        
                    </div><!--//secton-inner-->
                </section><!--//section-->
            </div><!--//primary-->
            <div class="secondary col-md-4 col-sm-12 col-xs-12">
                 <aside class="info aside section wow slideInRight">
                    <div class="section-inner">
                        <h2 class="heading sr-only">Basic Information</h2>
                        <div class="content">
                            <ul class="list-unstyled">
                                <li><i class="fa fa-map-marker"></i><span
                                  class="sr-only">Location:</span>New Delhi, India</li>
                                <li><i class="fa fa-envelope-o"></i><span
                                  class="sr-only">Email:</span><a href="mailto:me@ishankhanna.in">me@ishankhanna.in</a></li>
                                <li><i class="fa fa-link"></i><span
                                  class="sr-only">Website:</span><a
                                  href="#">http://www.ishankhanna.in</a></li>
                            </ul>
                        </div><!--//content-->  
                    </div><!--//section-inner-->                 
                </aside><!--//aside-->
                
                <aside class="skills aside section wow slideInRight">
                    <div class="section-inner">
                        <h2 class="heading">Skills <span style="font-size: 0.6em;">to pay the bills</span></h2>
                        <div class="content" data-ng-controller="skillsCtrl">

                            <div class="skillset">

                                <div class="item" data-ng-repeat="skill in skills">
                                    <h3 class="level-title">{{ skill.name }}<span
                                            class="level-label">{{ skill.level }}</span></h3>
                                    <div class="level-bar">
                                        <div class="level-bar-inner" data-level="{{ skill.barLevel }}%">
                                        </div>
                                    </div><!--//level-bar-->
                                </div><!--//item-->
                            </div>
                        </div><!--//content-->  
                    </div><!--//section-inner-->                 
                </aside><!--//section-->
                
                <aside class="testimonials aside section wow slideInRight">
                    <div class="section-inner">
                        <h2 class="heading">Testimonials</h2>
                        <div class="content" data-ng-controller="testimonialsCtrl">
                            <div class="item" data-ng-repeat="testimonial in testimonials" ng-init="testimonialIndex = $index">
                                <blockquote class="quote">                                  
                                    <p id="testimonial-text"><i class="fa fa-quote-left"></i>{{ testimonial.text | characters: testimonial.charactersToShow }} <b><a ng-click='showMore(testimonial)'>{{ testimonial.truncated ? 'more' : 'less' }}</a></b></p>
                                </blockquote>                
                                <p class="source"><span class="name">{{ testimonial.writer.name }}</span><br /><span class="title"> {{ testimonial.writer.position + ' at ' + testimonial.writer.organization }}</span></p>
                            </div><!--//item-->
                        </div><!--//content-->
                    </div><!--//section-inner-->
                </aside><!--//section-->
                
                <aside class="education aside section wow slideInRight">
                    <div class="section-inner">
                        <h2 class="heading">Education</h2>
                        <div class="content" data-ng-controller="educationCtrl">
                            <div class="item" data-ng-repeat="educationDatum in educationData">
                            <h3 class="title">
                                <i class="fa fa-graduation-cap"></i>
                                {{ educationDatum.courseName }}
                            </h3>
                                <h4 class="university">{{ educationDatum.university }}, {{ educationDatum.place }}<span
                                    class="year"> {{ educationDatum.yearStarted }} - {{ educationDatum.yearGraduated }} {{ educationDatum.pursuing ? 'Expected' : '' }} </span></h4>
                            </div><!--//item-->
                        </div><!--//content-->
                    </div><!--//section-inner-->
                </aside><!--//section-->
                            
                <aside class="languages aside section wow slideInRight">
                    <div class="section-inner">
                        <h2 class="heading">Languages</h2>
                        <div class="content" data-ng-controller="languagesCtrl">
                            <ul class="list-unstyled">
                                <li class="item" data-ng-repeat="language in languages">
                                    <span class="title"><strong>{{ language.name }}:</strong></span>
                                    <span class="level">{{ language.level }}</span>
                                </li><!--//item-->
                            </ul>
                        </div><!--//content-->
                    </div><!--//section-inner-->
                </aside><!--//section-->
                
                <aside class="blog aside section wow slideInRight">
                    <div class="section-inner">
                        <h2 class="heading">Latest Blog Posts</h2>
                        <div id="rss-feeds" class="content">

                        </div><!--//content-->
                    </div><!--//section-inner-->
                </aside><!--//section-->
                
                <aside class="list music aside section wow slideInRight">
                    <div class="section-inner">
                        <h2 class="heading">Favourite coding music</h2>
                        <div class="content" data-ng-controller="songsCtrl">
                            <ul class="list-unstyled">
                                <li data-ng-repeat="song in songs"><i class="fa fa-headphones"></i> <a href="#">{{ song.name + ' - ' + song.artist }}</a></li>
                            </ul>
                        </div><!--//content-->
                    </div><!--//section-inner-->
                </aside><!--//section-->
                
                <aside class="list conferences aside section wow slideInRight">
                    <div class="section-inner">
                        <h2 class="heading">Conferences</h2>
                        <div class="content" data-ng-controller="conferencesCtrl">
                            <ul class="list-unstyled">
                                <li data-ng-repeat="conference in conferences"><i class="fa fa-calendar"></i> <a href="">{{ conference.name + ',' + conference.year }}</a><br/> ({{ conference.place }})</li>
                            </ul>
                        </div><!--//content-->
                    </div><!--//section-inner-->
                </aside><!--//section-->

                <aside class="list talks aside section wow slideInRight">
                    <div class="section-inner">
                        <h2 class="heading">My Talks</h2>
                        <div class="content" data-ng-controller="talksCtrl">
                            <ul class="list-unstyled">
                                <li data-ng-repeat="talk in talks">
                                    <i class="fa fa-calendar"></i>{{talk.name + ' ' + talk.year + ' ' + talk.where + ' ('+ talk.city + ')' }}
                                </li>
                            </ul>
                        </div><!--//content-->
                    </div><!--//section-inner-->
                </aside><!--//section-->

            </div><!--//secondary-->    
        </div><!--//row-->
    </div><!--//masonry-->
    
    <!-- ******FOOTER****** --> 
    <footer class="footer">
        <div class="container text-center">
                <small class="copyright">Designed with <i class="fa fa-heart"></i> by <a href="http://themes.3rdwavemedia.com" target="_blank">3rd Wave Media</a> for developers</small>
        </div><!--//container-->
    </footer><!--//footer-->
 
    <!-- Javascript -->          
    <script type="text/javascript" src="assets/plugins/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="assets/plugins/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>    
    <script type="text/javascript" src="assets/plugins/jquery-rss/dist/jquery.rss.min.js"></script>
    <script type="text/javascript" src="assets/plugins/wow.min.js"></script>
    <script type="text/javascript" src="assets/plugins/angular.min.js"></script>

    <!-- github activity plugin -->
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/mustache.js/0.7.2/mustache.min.js"></script>
    <script type="text/javascript" src="http://caseyscarborough.github.io/github-activity/github-activity-0.1.0.min.js"></script>
    <!-- custom js -->
    <script type="text/javascript" src="assets/js/main.js"></script>

    <!-- dependencies -->
    <script type="text/javascript" src="app/scripts/truncate.js"></script>


    <script type="text/javascript" src="app/scripts/root.js"></script>

    <script>
        new WOW().init();
    </script>
</body>
</html> 

